* {
    box-sizing: border-box;
    /* border: none; */
    margin: none;
}

p>span {
    color: rgb(236, 238, 252);
    padding: 5px;
    margin: 4px;
    border: 2px solid slateblue;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5vh;
}

.area {
    width: 80vw;
    height: 40vh;
    border: 2px solid slateblue;
    border-radius: 3%;
    background-color: rgb(236, 238, 252);
    margin-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.opponants-yard,
.my-yard {
    width: 50vw;
    height: 20vh;
}

.tile {
    display: flex;
    border: 1px solid black;
    width: max-content;
    height: max-content;
    margin: 1%;
    /* padding: 1%; */

}

.tileSection {
    padding: 3px;
    border: 1px solid blue;
    margin: 2px;
}