:root {
    /* color scheme */

    --clr-bg-dark: rgba(22, 87, 104, 1);
    --clr-bg-accent: rgba(240, 248, 255, 0.07);
    --clr-red: rgb(148, 18, 18);
    --clr-blue: rgb(0, 0, 255);
    --clr-highlight: rgb(240, 248, 255);
    --clr-light: rgba(240, 248, 255, 0.806);
}


* {
    box-sizing: border-box;
    /* border: none; */
    margin: none;
}

.overlay {
    position: absolute;
    z-index: 100;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    border: 0.2rem solid black;
    margin: auto;
    background-color: var(--clr-bg-dark);
    transition: opacity 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* display: none; */
}

.overlay>h1 {
    font-size: 5rem;
    margin: 0 auto 0 auto;
    width: min-content;
    color: var(--clr-red);
    text-shadow: 1px 2px var(--clr-blue);
    background-color: var(--clr-bg-accent);
    box-shadow: inset 2px 2px 15px 5px var(--clr-bg-dark);
    padding: 1rem;
    border-radius: 10%;

}


i {
    font-size: 3rem;
    transform: translateY(-8vh);
}

i:hover {
    color: gold;
}

.begin-game-container {
    background-color: var(--clr-bg-accent);
    box-shadow: inset 2px 2px 15px 5px var(--clr-bg-dark);
    padding: 2.5rem;
    transform: translateY(-8vh);
    border-radius: 10%;

}

.start-container>input,
.start-container>button {
    border: none;
    padding: 0.5rem;
    background-color: var(--clr-highlight);
}

.start-container>input:hover,
.start-container>input:active {
    box-shadow: inset 0px 0px 2px 2px blue;
}

.start-container>input:hover+button,
.start-container>button:hover,
.start-container>input:active+button {
    background-color: green;
}



.scores-container {
    text-align: center;
    background-color: var(--clr-bg-accent);
    box-shadow: inset 2px 2px 15px 5px var(--clr-bg-dark);
    padding: 4rem;
    border-radius: 10%;
}

/* each section of tile (injected form JS) */
p>span {
    color: rgb(236, 238, 252);
    padding: 5px;
    margin: 4px;
    border: 2px solid slateblue;
    font-size: 2rem;
}

body {
    background-color: var(--clr-bg-dark);
}

.game-info {
    display: flex;
    justify-content: space-between;
}

.clock {
    color: rgb(236, 238, 252)
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 5vh;
}

.area {
    width: 80vw;
    height: 40vh;
    border-radius: 5%;
    background-color: var(--clr-light);
    margin-bottom: 2vh;

    /* box-shadow: inset 2px 2px 15px 5px var(--clr-bg-dark);
    box-shadow: 2px 2px 15px 5px var(--clr-bg-dark); */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.p1-tiles-container,
.p2-tiles-container {
    width: 50vw;
    height: 20vh;
    position: relative;
}

.p1-yard {
    transform: translateX(15vw);
    /* border: 4px solid var(--clr-blue); */
}

.p2-yard {
    transform: translateX(-15vw);
    /* border: 4px solid var(--clr-red); */
}

.p1-infobox {
    left: -30vw;
    justify-content: flex-end;
}

.p2-infobox {
    right: -30vw;
}

.p1-infobox,
.p2-infobox {
    position: absolute;
    top: 0;
    width: 26vw;
    height: 20vh;
    text-align: center;
    background-color: var(--clr-bg-accent);
    box-shadow: inset 2px 2px 15px 5px var(--clr-bg-dark);
    padding: 1rem;
    border-radius: 10%;
    display: flex;
    align-items: center;
}

.p1-infobox>h2,
.p2-infobox>h2 {
    color: var(--clr-red);
    text-shadow: 1px 1px var(--clr-blue);
}

.town-square {
    /* outline: 4px solid var(--clr-red); */
    /* border: 4px solid var(--clr-blue); */
}


.tile {
    display: flex;
    border: 1px solid black;
    width: max-content;
    height: max-content;
    margin: 1%;
    /* padding: 1%; */

}

.tileSection {
    padding: 3px;
    border: 1px solid blue;
    margin: 2px;
}

.hidden {
    display: none;
}